Repository rwese/RalphLoop: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, lint-shell

lefthook.yml:

# lefthook.yml - Git hooks configuration for RalphLoop

pre-commit:
  parallel: true
  commands:
    format:
      run: npx prettier --write {staged_files}
      stage: true
    lint-markdown:
      glob: '*.md'
      run: npx markdownlint --fix --config .markdownlintrc.json {staged_files}
      stage: true
    lint-shell:
      glob: '*.sh'
      run: npx shellcheck {staged_files}
      stage: true

Add container examples and RALPH_PROMPT env passthrough
  AGENTS.md
  DOCKER.md
  Dockerfile
  bin/ralphloop.js
  example/README.md
Due: lint-markdown

config: add Dockerfile parser to prettier
  .prettierrc
Due: none

docs: mark Quick Notes MVP experiment as complete
  progress.md
Due: lint-markdown

fix: make -it flags conditional and improve error messages
  bin/container.sh
  ralph
Due: lint-shell

fix: remove exposed API key from .envrc
  .envrc
Due: none

security: enforce pre-commit secret scanning and add documentation
  README.md
  SECURITY.md
  lefthook.yml
Due: lint-markdown

chore: finalize security and linting improvements
  .prettierrc
  SECURITY.md
  lefthook.yml
  package.json
  quick-notes.html
Due: lint-markdown

Add GitHub Actions workflow for multi-arch Docker builds
  .env.dist
  .github/workflows/docker-build.yml
  DOCKER_HUB.md
Due: lint-markdown

chore: remove unused files and directories
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  quick-notes.html
  test/package-lock.json
  test/package.json
  test/progress.md
  test/todo-app/index.html
  test/todo-app/progress.md
Due: lint-markdown

refactor: reorganize project structure
  AGENTS.md
  README.md
  docs/DOCKER.md
  docs/DOCKER_HUB.md
  docs/SECURITY.md
  examples/README.md
  examples/book-collection/README.md
  examples/book-collection/prompt.md
  examples/finance-dashboard/README.md
  examples/finance-dashboard/prompt.md
  examples/todo-app/README.md
  examples/todo-app/prompt.md
  examples/weather-cli/README.md
  examples/weather-cli/prompt.md
  examples/youtube-cli/README.md
  examples/youtube-cli/prompt.md
Due: lint-markdown

fix: update remaining example/ to examples/ references
  Dockerfile
  bin/container.sh
  examples/README.md
Due: lint-markdown, lint-shell

fix: correct GitHub Actions workflow syntax errors
  .github/workflows/docker-build.yml
  progress.md
Due: lint-markdown

fix: correct GitHub Actions workflow syntax errors
  .github/workflows/docker-build.yml
Due: none

Assess project state after Quick Notes MVP completion and identify next objectives
  .github/workflows/docker-build.yml
Due: none

fix: resolve YAML boolean parsing issue in GitHub Actions workflow
  .github/workflows/docker-build.yml
  progress.md
  prompt.md
Due: lint-markdown

fix: quote 'on' key to resolve YAML boolean parsing issue
  .github/workflows/docker-build.yml
Due: none

test: minimal workflow to isolate GitHub Actions issue
  .github/workflows/docker-build.yml
Due: none

test: intermediate workflow with Docker steps
  .github/workflows/docker-build.yml
Due: none

fix: recreate full workflow with quoted 'on' key
  .github/workflows/docker-build.yml
Due: none

test: simple workflow without complex steps
  .github/workflows/docker-build.yml
Due: none

test: add full build step with all options
  .github/workflows/docker-build.yml
Due: none

test: add login and metadata steps
  .github/workflows/docker-build.yml
Due: none

test: add verify-manifest job
  .github/workflows/docker-build.yml
Due: none

fix: enable pushing Docker images on push events
  .github/workflows/docker-build.yml
Due: none

fix: ensure pull_request has branches and workflow is valid
  .github/workflows/docker-build.yml
Due: none

fix: use repository-scoped image reference
  .github/workflows/docker-build.yml
Due: none

fix: enable QEMU for cross-platform Docker builds
  .github/workflows/docker-build.yml
Due: none

Complete Weather Dashboard CLI implementation
  progress.md
Due: lint-markdown

fix: add QEMU setup for multi-platform Docker builds
  .github/workflows/docker-build.yml
Due: none

fix: conditionally apply --userns=keep-id flag only for Podman
  .npmignore
  bin/ralphloop.js
Due: none

fix: conditionally add -it flags based on TTY availability
  bin/ralphloop.js
Due: none

fix: remove -it, not needed, it is not interactive.
  bin/ralphloop.js
Due: none

fix: userns flag
  bin/ralphloop.js
Due: none

feat: Add validation feedback loop with security fixes
  .opencode/prompts/agent/AGENT_RALPH.md
  AGENTS.md
  ralph
Due: lint-markdown

chore: Update example prompts with enhanced validation requirements
  examples/book-collection/prompt.md
  examples/finance-dashboard/prompt.md
  examples/todo-app/prompt.md
  examples/weather-cli/prompt.md
  examples/youtube-cli/prompt.md
Due: lint-markdown

fix: Improve Playwright Chromium installation in Dockerfile
  Dockerfile
Due: none

refactor: Remove implementation details from example prompts
  examples/book-collection/prompt.md
  examples/finance-dashboard/prompt.md
  examples/todo-app/prompt.md
  examples/weather-cli/prompt.md
  examples/youtube-cli/prompt.md
Due: lint-markdown

chore: formatting
  ralph
Due: none

feat: Add convenience commands to RalphLoop CLI
  bin/ralphloop.js
Due: none
